body{background: #282828; font-size: 14px; color: #fff;}

.list-inline.header-top li:first-child{margin-right:  30px;}
.user-dashboard{position: relative;}
.user-dashboard.country-div .box-shadow{margin-bottom: 30px;}
.user-dashboard:after{background: url(./images/sky-bg.jpg);
position: absolute;
top: -4px;
left: -15px;
content: '';
width: auto;
min-height:880px;
height: 102%;
z-index: -1;
right: -15px;
background-size: cover;}

.page-view{margin-top: 15px;}
.page-view a{color: #4dc4ff;}
.box-shadow{box-shadow: 1px 1px 4px rgba(0,0,0,.15); border-radius: 7px; background-color: hsla(0,0%,100%,.1); padding: 15px; float: left; width: 100%;}
.circlechart{width: 75px; height: 62px; float: left; position: relative;}
.user-content{ width: auto; text-align: left; float: left; height: 60px;}
.user-content p{font-size: 12px; margin-bottom: 0px; margin-top: 10px}
.user-content span{font-size: 16px;}
.user-dashboard .row + .row{margin-top: 30px;}
.user-dashboard.adduser .row{margin-top: 0px;}
.img-row img{max-width: 100%;}
.search-div{width: auto; margin: 0 auto; display: table; padding-top: 5px;}
.search-div label{font-weight: 400; margin-top: 2px; text-transform: uppercase;}
.search-div input,
.state-div .btn.dropdown-toggle.btn-default{margin: 0 10px; background:transparent;  border: 1px solid #fff; padding: 5px 8px; border-radius: 5px; color: #fff; font-weight: 600; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.btn.add-country{float: right; display: table;}
.inline-div{width: 100px;  display: inline-block;}
.idcard-div .btn.btn-default.btn-reject{background: rgba(221,75,57,0.8);}
.idcard-div .btn.btn-default,
.btn.btn-default.back,
form .btn.btn-default,
.head-div .btn.btn-default{background: transparent; background-color: hsla(0,0%,100%,.2); color: #fff; border-radius: 5px; height: auto; border:none; padding: 8px 15px; text-transform: uppercase; font-weight: 400; font-size: 14px;}
.head-div .btn.btn-default.add-country{font-size: 16px; margin-top: 5px;}
.table-bordered{border:none; border-top: 1px solid #fff !important; border-bottom: 1px solid #fff !important; }
.table-striped > tbody > tr:nth-of-type(2n+1){background:rgba(00,00,00,0.1);}
.logo{height: 57px; position: relative;}
.logo img{position: absolute; top: 0; left: 0px; }
.report-div label{min-width: 100px;}
.report-div .search-div{float: left;}
.search-div.larg-search{margin-top: 15px; margin-bottom: 15px; width: 100%;} 
.search-div.larg-search input{width: calc(90% - 111px); -webkit-width: calc(90% - 111px);} 


.table-bordered.sub-admin > thead > tr > th,
.table-bordered.sub-admin > tbody > tr > td{width: 20%;}
.table-bordered.sub-admin > thead > tr > th:nth-of-type(5),
.table-bordered.sub-admin > tbody > tr > td:nth-of-type(5),
.table-bordered.sub-admin > thead > tr > th:nth-of-type(2),
.table-bordered.sub-admin > tbody > tr > td:nth-of-type(2){width: 10%;}

.table-bordered.contact-us > thead > tr > th,
.table-bordered.contact-us > tbody > tr > td{width: 20%; text-align: left;}
.table-bordered.contact-us > thead > tr > th:nth-of-type(4),
.table-bordered.contact-us > tbody > tr > td:nth-of-type(4){width: 30%;}
.table-bordered.contact-us > thead > tr > th:nth-of-type(2),
.table-bordered.contact-us > tbody > tr > td:nth-of-type(2){width: 10%;}
.table-bordered.contact-us > thead > tr > th:nth-of-type(1),
.table-bordered.contact-us > tbody > tr > td:nth-of-type(1){width: 10%;}
.btn.btn-danger{color: #fff;}
.state-div .search-div{width: 100%; margin-top: 15px; margin-bottom: 15px;}
.state-div .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
.state-div .select-box,
.state-div input{width: 43%; margin-right: 1%;}
.state-div button{width: 10%;}
.state-div button{float: right;}
.state-div .btn.dropdown-toggle.btn-default{height: auto; font-size: 16px; margin: 0 !important; font-weight: 400;}
.city-div.state-div .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
.city-div.state-div .select-box,
.city-div.state-div input{width: 28.6%; margin-left: 0;}
.city-div.state-div .table-bordered > thead > tr > th,
.city-div.state-div .table-bordered > tbody > tr > td{width: 25%;}


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td{
  border:0;
  font-weight: 400;
  width: 33.33%;
  padding: 8px 20px;
  text-align: center;
  font-size: 14px;

}
.table-bordered > thead > tr > th:first-of-type,
.table-bordered > tbody > tr > td:first-of-type{
  text-align: left;
}
.table-bordered > thead > tr > th a,
.table-bordered > tbody > tr > td a{color: #00abff; font-weight: 600;}

.table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}
.pagination > li > a, .pagination > li > span{background:transparent !important; color: #fff !important;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{border-color: #fff; background:rgba(00,00,00,0.2) !important;}
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th{
  vertical-align: middle;
  height: auto;
  border:none;
}



/*********************29-06-2018***************************************/


.select-box select {
    padding: 5px 8px;
    margin: 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    /*-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    background-color: transparent;
    border:1px solid #fff;
    color:#fff;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label.select-box {position:relative}
label.select-box:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:6px 0 5px;
    position:absolute;
    pointer-events:none;
}
label.select-box:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background-color:transparent;
    position:absolute;
    pointer-events:none;
    display:block;
}




/************************************************************/


.country-div .table-bordered > thead > tr > th:last-child,
.country-div .table-bordered > tbody > tr > td:last-child,
.state-div .table-bordered > thead > tr > th:last-child,
.state-div .table-bordered > tbody > tr > td:last-child{ text-align: right; }
.table-bordered > thead > tr > th:last-child a.btn.btn-default,
.table-bordered > tbody > tr > td:last-child a.btn.btn-default{margin-right: 10px;}
.reports-table .table-bordered > tbody > tr > td,
.reports-table .table-bordered > thead > tr > th{width: 12.5%; text-align: center; padding-left: 0; padding-right: 0;}
.reports-table .table-bordered > thead > tr > th:first-child,
.reports-table .table-bordered > tbody > tr > td:first-child{padding-left: 20px; text-align: left;}
.reports-table .table-bordered > thead > tr > th:last-child,
.reports-table .table-bordered > tbody > tr > td:last-child{padding-right: 20px; text-align: right; width: 6%;}
.reports-table .table-bordered > thead > tr > th:nth-of-type(6),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(6),
.reports-table .table-bordered > thead > tr > th:nth-of-type(3),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(3){background-color: hsla(0,0%,100%,.1);}
.reports-table .table-bordered > thead > tr > th:nth-of-type(4),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(4),
.reports-table .table-bordered > thead > tr > th:nth-of-type(5),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(5),
.reports-table .table-bordered > thead > tr > th:nth-of-type(6),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(6),
.reports-table .table-bordered > thead > tr > th:nth-of-type(7),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(7),
.reports-table .table-bordered > thead > tr > th:nth-of-type(3),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(3){ width: 6%; }
.reports-table .table-bordered > thead > tr > th:nth-of-type(2),
.reports-table .table-bordered > tbody > tr > td:nth-of-type(2){ width: 18%; text-align: left; }

.user-details-div .img-div{width: 48%; float: left; margin-right: 2%; margin-bottom: 10px; position: relative; overflow: hidden;}
.user-details-div .img-div .overlay{position: absolute; top:-100%; left: -100%; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; background: rgba(00,00,00,0.5);  transition: all 0.4s ease-in-out;}
.user-details-div .img-div .overlay i{width: 50px; height: 50px; line-height: 50px; border:1px solid; color: #fff; background-color: hsla(0,0%,100%,.1); text-align: center; border-radius: 5px; }
.user-details-div .img-div .fa.fa-check{position: absolute; right: 0; top: 0; color:green; padding: 10px; font-size: 25px; }
.user-details-div .img-div:hover .fa.fa-check{top: -30px; color: #00abff;}
.user-details-div .img-div .overlay i:hover{color: #00abff; cursor: pointer;}
.user-details-div .img-div:hover .overlay{top: 0; left: 0; }
.user-details-div .img-div img{max-width: 100%; }
.user-details-div .user-details{width: 50%; display: table;}
.user-details-div .user-details span{width: 100%; display: table; margin-bottom: 10px;}
.user-details-div .user-details span strong{width: 100%; float: left; color: #dedcdc;}
.user-details-div .idcard-div .img-div{width: 48%; margin-right: 0; margin:1%;}
.user-details-div .idcard-div h3{width: auto; float: left; margin-top: 8px; margin-bottom: 0px; font-size: 20px; text-transform: uppercase;}
.user-details-div .idcard-div span,
.id-head-div{width: 100%; float: left;}
.id-head-div{margin-bottom: 10px;}
.user-details-div .box-shadow{min-height: 343px;}
.user-dashboard.user-details-div:after{height: 100%;}
.user-dashboard.user-details-div{padding-bottom: 50px;}
.user-dashboard.user-details-div .row .col-md-6:nth-of-type(1n+1){margin-top: 15px;}

.user-dashboard.adduser h1{width: 100%; text-align: center;}
.btn.dropdown-toggle.btn-default,
.user-dashboard.adduser .select-box select{height: 46px; padding: 10px 16px; text-transform:inherit; background-color: #fff; color: #999; display: block; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); font-size: 18px; line-height: 1.3333333; border-radius: 6px; font-weight: 400;}
.user-dashboard.adduser .select-box{width:100%; }
.user-dashboard.adduser .select-box:after{color:#999; top: 10px; font-size: 14px;}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 100%;}
.icon-info .label.label-primary{top: -5px; position: absolute; border-radius: 50%; left: 10px; padding: .3em .6em .3em;}
.btn.btn-default.back{margin-top: -113px; margin-left: -15px;}
.btn.btn-default.back.bottom{margin-top: 30px; margin-left: 0px;}

#navigation {    padding: 0;    position: fixed;    top: 0;    left: 0;}

.col-md-10.col-sm-11.display-table-cell{position: absolute; right:0; top: 0;}
.mobile-view{display: none;}





.circle-chart {
  width: 60px;
  height: 60px;
  overflow: visible !important;

}

.circle-chart__circle {
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__background {
  stroke: transparent;
  stroke-width: 2;
  fill: none; 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 8px;
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
}

.circle-chart__subline {
    alignment-baseline: central;
    text-anchor: middle;
    font-size: 3px;
    display: none;
}
.circle-value{font-size: 14px; color: #fff; font-weight: 600; width:auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%); margin: auto; width: 26px; margin-left: -5px;}




@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/*Login Signup Page*/
a:focus,a:hover,a{
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top i {
    font-size: 14px;
}







.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}
.logo img {
    padding: 16px;
    width: 100%;
    max-width: 100%;
}

.header-top {
    margin: 0;
    padding-top: 2px;
}

.header-top img {
    border-radius: 50%;
    max-width: 30px !important;
    width: 100%;
    margin-top: -9px;
}

.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 45px;
    position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.add-project::before {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
    content: "";
    ;
    height: 12px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 12px;
}


.header-top i {
    color: #fff;
}

.icon-info {
    position: relative;
}
.navi i {
    font-size: 20px;
}

.header-top li {
    /* text-align: center; */
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -130px;
    padding: 15px;
}

.navbar-content{
    width:135px;
}
.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
    color: #000;
}
#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
}

header {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo {
    text-align: center;
}

.navi a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    font-size: 14px;
    
}

.navi .active a {
    background: #00abff;
    padding-left: 15px;
}

.navi a:hover {
    background: #122143 none repeat scroll 0 0;
    
    display: block;
    
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35;
}

.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}
.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0 20px;
}

.user-dashboard h1 {
    color: #fff;
    width: auto;
    float: left;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 15px 0;
}




@media only screen and (max-device-width: 767px) {
   
    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }
    #navigation .navi i {
        margin-right: 0px;
    }
    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }
    header .header-top img {
        max-width: 38px !important;
    }
    .v-align header {
        padding: 12px 15px;
    }
    header .header-top li {
        padding-left: 13px;
        padding-right: 6px;
    }
    .navbar-default .navbar-toggle {
        border-color: rgba(0, 0, 0, 0);
    }
    .navbar-header .navbar-toggle {
        float: left;
        margin: 0;
        padding: 0;
        top: 12px;
    }
    button,
        html [type="button"],
        [type="reset"],
        [type="submit"] {
            outline: medium none;
    }
    .user-dashboard .sales h2 {
        color: #8492af;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
}
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 11px;
}
    .user-dashboard .sales button {
        font-size: 11px;
        padding-right: 23px;
}  
    .user-dashboard .sales h2 {
    font-size: 12px;
}
.gutter{
    padding: 0;
}
}

@media only screen and (max-device-width: 992px) {
    header .header-top li {
        padding-left: 20px !important;
        padding-right: 0;
}
    header .logo img {
        max-width: 125px !important;
}

}

@media only screen and (min-device-width: 767px) and (max-device-width: 998px){
      .user-dashboard .header-top {
        padding-top: 5px;
}
    .user-dashboard .header-rightside {
        display: inline-block;
        float: left;
        width: 100%;
}
    .user-dashboard .header-rightside .header-top img {
        max-width: 41px !important;
} 
    .user-dashboard .sales button {
    font-size: 10px;
}
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 12px;
}
    .user-dashboard .sales h2 {
    font-size: 15px;
}
}

@media(max-width: 1199px){
    .city-div.state-div .search-div{margin-left: 0px; margin-right: 0px;}
    .search-div{margin-left: -20px; margin-right: -20px;}
    .user-dashboard{padding-bottom: 30px;}
    .report-div .search-div{width: auto; margin-right: 0; margin-left: 0;}
    .report-div .search-div.pull-righ{text-align: right;}
    .search-div.larg-search{width: 100%; margin-top: 0;}
    .search-div.larg-search input{width: 50%;}
    .report-div .search-div input{width: 100%; margin-left: 0; margin-bottom: 10px;}
    .user-details-div .idcard-div h3{font-size: 16px;}
    .user-details-div .img-div{width: 47%;}
    .user-details-div .box-shadow{min-height: 357px;}


}


@media(max-width: 991px){
    .desktop-view{display: none;}
    .mobile-view{display: block;}
    .user-dashboard::after{height: 100%; padding-bottom: 50px;}
    .progress-div .col-md-3 + .col-md-3{margin-top: 15px; float: left; width: 100%;}
    .img-row .col-md-6 + .col-md-6{margin-top: 15px; float: left; width: 100%;}
    .user-dashboard{padding-bottom: 30px;}
    .head-div .col-md-6{ width: 70%; float: left; margin: 0;}
    .head-div .search-div{ width: 100%; float: left; margin: 0; }
    .head-div .col-md-3{ width: 100%; float: left; }
    .head-div .col-md-3:last-child{ width: 30%; float: left; margin-bottom: 15px; }
    .report-div.user-dashboard h1{width: 100%; float: left;}
    .reports-table{margin-top: 15px;}
    .user-details-div .idcard-div h3{font-size: 20px;}
    .user-details-div .img-div{width: 38%;}
    .user-details-div .user-details{width: 60%;}
    .user-details-div .box-shadow{min-height: 100%;}
    .user-dashboard.user-details-div .row .col-md-6:nth-of-type(n+1){float: left;}
    .city-div.state-div .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
    .city-div.state-div .select-box,
    .city-div.state-div input{width: 100%; margin-left: 0; margin-right: 0; margin-bottom: 10px;}
    .city-div.state-div input{width: 100%; margin-left: 0; margin-right: 0; margin-bottom: 10px;}
    .city-div.state-div .search-div > button{float: left; margin-bottom: 10px; width: auto;}
    .city-div.state-div .head-div .col-md-3{width: 50%; margin: 0;}
}
