
.user-dashboard.log-in{padding-top: 100px; }
.user-dashboard.log-in button.login-button{width: auto;}
.log-in label{font-size: 16px; margin-bottom: 10px; color: #051937;}
.log-in input{background: transparent; box-shadow: none; border:1px solid #051937; color: #294062; font-size: 14px;}
.log-in input:focus{border:1px solid #051937; color: #051937;}
.log-in a{color: #0058db;}
.log-in .box-shadow{padding: 40px; background: rgba(255,255,255,.3); }
.login-log{display: flex; justify-content: center; align-items: center; text-align: center; margin-right: 20px;}
.login-log p,
.login-log span{width: 100%; float: left; display: table; color: #051937;}
.login-log span{text-transform: uppercase; font-size: 20px; font-weight: 600;}
.login-log img{max-width: 100%; margin: 30px 0; }
.user-dashboard.log-in .box-shadow h1{padding-top: 0; padding-bottom: 30px; font-size: 30px; color: #051937; width: 100%; text-align: center; }