<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo" style="margin-top:10px">
                <a hef="home.html" class="desktop-view">
                    <!-- <img src="./container/images/logo.jpg"> -->
                   <b style="font-size: 200%; margin-top: 10px; text-decoration: underline;cursor:pointer;"> BMS Admin</b>
                </a>
                <a hef="home.html" class="mobile-view">
                    <img src="./container/images/logo-1.png">
                </a>
            </div>
            <div class="navi">
                <ul>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="['/Admin/Dashboard']">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Dashboard</span>
                        </a>
                    </li> -->
                    <li routerLinkActive="active">
                        <a [routerLink]="['/Admin/Reports']">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Dashboard</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/Admin/BookCategory']">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Books Category</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/Admin/BookFields']">
                            <i class="fa fa-th" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Book Fields</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/Admin/Comment']">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Books Comment</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
            <div class="row">
                <header>
                    <div class="col-md-7">
                        <nav class="navbar-default pull-left">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-5">
                        <div class="header-rightside">
                            <ul class="list-inline header-top pull-right">

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="icon-info">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                        <!-- <span class="label label-primary">{{NotificationUsers.Count}}</span> -->
                                    </a>


                                    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
                                        <li class="nav-header">
                                            <i class="fa fa-warning"></i>
                                            <!-- {{NotificationUsers.Count}} Notifications -->
                                        </li>

                                        <!-- <li *ngFor="let user of NotificationUsers.Users">
                                            <a (click)="updateUserStatus(user.Id)" [routerLink]="['/Admin/Reports/Details',user.Id]">
                                                <i class="btn btn-mini btn-primary fa fa-user"></i>
                                                {{user.Value}}
                                            </a>
                                        </li> -->
                                        <!-- <li *ngIf="NotificationUsers.Count == 0">
                                            <a href="javascript:void(0);">
                                                <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
                                                No New User
                                            </a>
                                        </li>
 -->
                                        <li class="nav-header">
                                            <a [routerLink]="['/Admin/Reports']">
                                                See all notifications
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="./assets/avatars/user.jpg" alt="user">
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <span>Welcome,</span>
                                                <p class="text-muted small">
                                                    {{LoggedInUser}}
                                                </p>
                                                <div class="divider">
                                                </div>
                                                <a style="padding: 0px;" href="javascript:void(0);" [routerLink]="['/Admin/ChangePassword']" class="view btn-sm active">
                                                    <i class="icon-cog"></i>
                                                    Change Password
                                                </a>
                                                <a style="padding: 0px;" href="javascript:void(0);" (click)="logout()" class="view btn-sm active">
                                                    <i class="icon-off"></i>
                                                    Logout
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>



<!-- Modal -->
<div id="add_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add Project</h4>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Project Title" name="name">
                <input type="text" placeholder="Post of Post" name="mail">
                <input type="text" placeholder="Author" name="passsword">
                <textarea placeholder="Desicrption"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="add-project" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>