ul.dropdown-navbar.dropdown-menu{
padding:0;
}

ul.dropdown-navbar.dropdown-menu li.nav-header{
background-color: #dfdfdf;
margin:0;
}
ul.dropdown-navbar.dropdown-menu li{padding:7px; }
ul.dropdown-navbar.dropdown-menu li a {padding:0; }
ul.dropdown-navbar.dropdown-menu li:hover{padding:7px; background-color: gray}
.dropdown-menu{
    min-width: 210px;
}