<head>
    <title>Login Page - Ace Admin</title>
  
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!--basic styles-->
  
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  
    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
  
    <!--page specific plugin styles-->
  
    <!--fonts-->
  
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
  
    <!--ace styles-->
  
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
  
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
  
    <!--inline styles related to this page-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
  
  
  <form #fo="ngForm">
  <body class="login-layout">
      <div class="main-container container-fluid">
        <div class="main-content">
          <div class="row-fluid">
            <div class="span12">
              <div class="login-container">
                <div class="row-fluid">
                  <div class="center">
                    <h1>
                      <i class="icon-leaf green"></i>
                      <span class="red">Ace</span>
                      <span class="white">Application</span>
                    </h1>
                    <h4 class="blue">&copy; Identity Verify</h4>
                  </div>
                </div>
  
                <div class="space-6"></div>
  
                <div class="row-fluid">
                  <div class="position-relative">
                    <div id="login-box" class="login-box visible widget-box no-border">
                      <div class="widget-body">
                        <div class="widget-main">
                          <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                            Please Enter Your Information
                          </h4>
  
                          <div class="space-6"></div>
  
                            <fieldset>
                              <label>
                                <span class="block input-icon input-icon-right">
                                  <input name="LoginId" [(ngModel)]="LoginId" type="text" class="span12" placeholder="Username" required />
                                  <i class="icon-user"></i>
                                </span>
                              </label>
  
                              <label>
                                <span class="block input-icon input-icon-right">
                                  <input name="Password" type="password" [(ngModel)]="Password" class="span12" placeholder="Password" required/>
                                  <i class="icon-lock"></i>
                                </span>
                              </label>
  
                              <div class="space"></div>
  
                              <div class="clearfix">
                                <label class="inline">
                                  <input type="checkbox"  disabled/>
                                  <span class="lbl"> Remember Me</span>
                                </label>
  
                                <button [disabled]="!fo.form.valid" (click)="CheckLogin()" class="width-35 pull-right btn btn-small btn-primary">
                                  <i class="icon-key"></i>
                                  Login
                                </button>
                              </div>
  
                              <div class="space-4"></div>
                            </fieldset>
  
                          <div class="social-or-login center">
                            <span class="bigger-110">Or Login Using</span>
                          </div>
  
                          <div class="social-login center">
                            <a class="btn btn-primary" disabled>
                              <i class="icon-facebook"></i>
                            </a>
  
                            <a class="btn btn-info" disabled>
                              <i class="icon-twitter"></i>
                            </a>
  
                            <a class="btn btn-danger" disabled>
                              <i class="icon-google-plus"></i>
                            </a>
                          </div>
                        </div><!--/widget-main-->
                      </div><!--/widget-body-->
                    </div><!--/login-box-->
  
                  </div><!--/position-relative-->
                </div>
              </div>
            </div><!--/.span-->
          </div><!--/.row-fluid-->
        </div>
      </div><!--/.main-container-->
    </body>
  
  </form>