<div class="pagination pagination-large" *ngIf="createRange(pageSize)">
        <ul class="pagination">
                <li *ngIf="totalPages > 10" [class.disabled]="currentPage == 1" (click)="onPreviousPageChanged(true)">
                        <a href="javascript:void(0)"><<</a>
                </li>
                <li [class.disabled]="currentPage == 1" *ngIf="totalPages > 10" (click)="onPreviousPageChanged()">
                        <a href="javascript:void(0)">Previous</a>
                </li>
                <li *ngFor="let item of createRange(pageSize)" [class.disabled]="item=='...'" [class.active]="currentPage == item" (click)="onPageChanged(item)">
                        <a href="javascript:void(0)">{{item}}</a>
                </li>
                <li *ngIf="totalPages > 10" [class.disabled]="currentPage == totalPages" (click)="onNextPageChanged()">
                        <a href="javascript:void(0)">Next</a>
                </li>
                <li *ngIf="totalPages > 10" [class.disabled]="currentPage == totalPages" (click)="onNextPageChanged(true)">
                        <a href="javascript:void(0)">>></a>
                </li>
        </ul>
</div>