﻿<!-- <div [ngBusy]="busy"></div>
<form #fo="ngForm">
    <div class="form-group">
        <h1>{{Title}}</h1>
    </div>
    <div class="form-group">
        <label for="countryCode">Country Code</label>
        <input type="text" [(ngModel)]="CountryCode" name="CountryCode" class="form-control" id="countryCode" placeholder="Country Code" required>
    </div>
    <div class="form-group">
        <label for="countryName">Country Name</label>
        <input type="text" [(ngModel)]="CountryName" name="CountryName" class="form-control" id="countryName"  placeholder="Enter Country Name" required>
    </div>
    <button [disabled]="!fo.form.valid" type="button" (click)="SaveCountry()" class="btn btn-primary">Submit</button>
    <a [routerLink]="['/Admin/Country']" >Back to List</a>
</form> -->

<form #fo="ngForm">
<div class="user-dashboard adduser">
    <h1>{{Title}}</h1>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="box-shadow">
                <a [routerLink]="['/Admin/BookCategory']" class="btn btn-default back">Back to List</a>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" [class.has-error]="f1.errors?.required && f1.touched">
                                    <input type="text" #f1="ngModel"  [(ngModel)]="CategoryCode" name="CategoryCode" class="form-control input-lg" id="CategoryCode" placeholder="Category Code" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" [class.has-error]="f2.errors?.required && f2.touched">
                                    <input #f2="ngModel" type="text" [(ngModel)]="CategoryName" name="CategoryName" class="form-control input-lg" id="CategoryName"  placeholder="Category Name" required>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <button [disabled]="!fo.form.valid" type="button" (click)="SaveCategory()" class="btn btn-default btn-block btn-xm">Submit</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</form>