﻿<div class="user-dashboard country-div">
    <div class="row head-div">
        <div class="col-md-3">
           <h1>Book Categories</h1> 
        </div>
        <div class="col-md-6">
           <div class="search-div">



                <label>SEARCH: </label>
                <input type="text" id="usr" maxlength="50" [(ngModel)]="searchKey"
                (change)="onSearchKeyChange()">
                <button (click)="onSearchKeyChange()" class="btn btn-default">SEARCH</button>
            </div> 
        </div>
        <div class="col-md-3">
            <a [routerLink]="['/Admin/BookCategory/Add']" class="btn btn-default pull-right add-country">add book category</a>
        </div>
    </div>
    
    
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="box-shadow">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th><a class="whiteColor" (click)="SortByColumn('Value')" href="javascript:void(0);">Book Code</a></th>
                        <th>Book Title</th>
                        <th>Action</th>
                    </tr> 
                  </thead>
                  <tbody>
                        <tr *ngIf="!bookCategories || bookCategories.length == 0">
                                <td colspan="3">No Record Found</td>
                            </tr>
                            <tr *ngFor="let category of bookCategories">
                                <td>{{category.BookCode}}</td>
                                <td>{{category.BookTitle}}</td>
                                <td>
                                    <a [routerLink]="['/Admin/BookCategory/Edit',category.Id]" class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                    <a href="javascript:void(0)" (click)="Delete(category.Id)" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                </td>
                            </tr>
                        </tbody>
                </table>
                <pagging (pageChanged)="pageChangeNotify($event)" currentPage="{{currentPageActive}}" pageSize="{{totalPages}}"></pagging>            </div>
        </div>
    </div>
</div>