﻿<form #fo="ngForm">

    <div class="user-dashboard adduser">
        <h1>{{Title}}</h1>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="box-shadow">
                    <a [routerLink]="['/Admin/BookFields']" class="btn btn-default back">Back to List</a>
                    <div class="row">
                        <div class="col-md-12">
                                <div *ngIf="books" style="text-align:center" [class.has-error]="t1.errors?.required && t1.touched">
                                    <select [disabled]="bookFields.BookId > 0" #t1="ngModel" [(ngModel)]="bookFields.BookId" name="bookFields.BookId" class="form-control" style="width:50%; display: inline;" id="category" required>
                                        <option value="0" disabled>Select a Book</option>
                                        <option *ngFor="let item of books" [value]="item.ID">{{item.BookTitle}}</option>
                                    </select>
                                </div>
                                        
<!--                                         
                            <div class="form-group" [class.has-error]="d1.errors?.required && d1.touched">
                                <input #d1="ngModel" type="text" [(ngModel)]="bookFields.BookId" name="bookFields.BookId" class="form-control input-lg"
                                    id="bookFields.BookId" placeholder="BookId" required>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="box-shadow">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f1.errors?.required && f1.touched">
                                <input #f1="ngModel" type="text" [(ngModel)]="bookFields.Title" name="Title" class="form-control input-lg"
                                    id="bookFields.Title" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f2.errors?.required && f2.touched">
                                <input #f2="ngModel" type="text" [(ngModel)]="bookFields.SubTitle" name="bookFields.SubTitle"
                                    class="form-control input-lg" id="bookFields.SubTitle" placeholder="SubTitle"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f3.errors?.required && f3.touched">
                                <input #f3="ngModel" type="text" [(ngModel)]="bookFields.Volume" name="bookFields.Volume"
                                    class="form-control input-lg" id="bookFields.Volume" placeholder="Volume" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f4.errors?.required && f4.touched">
                                <input #f4="ngModel" type="text" [(ngModel)]="bookFields.Color" name="bookFields.Color"
                                    class="form-control input-lg" id="bookFields.Color" placeholder="Color" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f5.errors?.required && f5.touched">
                                <input #f5="ngModel" type="text" [(ngModel)]="bookFields.Jacket" name="bookFields.Jacket"
                                    class="form-control input-lg" id="bookFields.Jacket" placeholder="Jacket" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f6.errors?.required && f6.touched">
                                <input #f6="ngModel" type="text" [(ngModel)]="bookFields.ISBN" name="bookFields.ISBN"
                                    class="form-control input-lg" id="bookFields.ISBN" placeholder="ISBN" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f7.errors?.required && f7.touched">
                                <input #f7="ngModel" type="text" [(ngModel)]="bookFields.LocNum" name="bookFields.LocNum"
                                    class="form-control input-lg" id="bookFields.LocNum" placeholder="LocNum" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f8.errors?.required && f8.touched">
                                <input #f8="ngModel" type="text" [(ngModel)]="bookFields.CopyRightNotice" name="bookFields.CopyRightNotice"
                                    class="form-control input-lg" id="bookFields.CopyRightNotice" placeholder="Copyright Notice"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f9.errors?.required && f9.touched">
                                <input type="number" min="0" #f9="ngModel" min="0" [(ngModel)]="bookFields.PrintingTimeNumber" name="bookFields.PrintingTimeNumber"
                                    class="form-control input-lg" id="bookFields.PrintingTimeNumber" placeholder="Printing Time Number"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f10.errors?.required && f10.touched">
                                <input type="number" min="0" #f10="ngModel" [(ngModel)]="bookFields.NumBooksPrinted" name="bookFields.NumBooksPrinted"
                                    class="form-control input-lg" id="bookFields.NumBooksPrinted" placeholder="Num Books Printed"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f11.errors?.required && f11.touched">
                                <input type="text" #f11="ngModel" [(ngModel)]="bookFields.PrintYear" name="bookFields.PrintYear"
                                    class="form-control input-lg" id="bookFields.PrintYear" placeholder="Print Year"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f12.errors?.required && f12.touched">
                                <input type="text" #f12="ngModel" [(ngModel)]="bookFields.PrintLocation" name="bookFields.PrintLocation"
                                    class="form-control input-lg" id="bookFields.PrintLocation" placeholder="Print Location"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f13.errors?.required && f13.touched">
                                <input type="text" #f13="ngModel" [(ngModel)]="bookFields.Publisher" name="bookFields.Publisher"
                                    class="form-control input-lg" id="bookFields.Publisher" placeholder="Publisher"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f14.errors?.required && f14.touched">
                                <input type="number" min="0" #f14="ngModel" [(ngModel)]="bookFields.Plates" name="bookFields.Plates"
                                    class="form-control input-lg" id="bookFields.Plates" placeholder="Plates" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f15.errors?.required && f15.touched">
                                <input type="text" #f15="ngModel" [(ngModel)]="bookFields.BookSize" name="bookFields.BookSize"
                                    class="form-control input-lg" id="bookFields.BookSize" placeholder="Book Size"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f16.errors?.required && f16.touched">
                                <input type="number" min="0" #f16="ngModel" [(ngModel)]="bookFields.BookPageCount" name="bookFields.BookPageCount"
                                    class="form-control input-lg" id="bookFields.BookPageCount" placeholder="Book Page Count"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f17.errors?.required && f17.touched">
                                <input type="text" #f17="ngModel" [(ngModel)]="bookFields.Type" name="bookFields.Type"
                                    class="form-control input-lg" id="bookFields.Type" placeholder="Type" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f18.errors?.required && f18.touched">
                                <input type="text" #f18="ngModel" [(ngModel)]="bookFields.Comments" name="bookFields.Comments"
                                    class="form-control input-lg" id="bookFields.Comments" placeholder="Comments"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f19.errors?.required && f19.touched">
                                <input type="text" #f19="ngModel" [(ngModel)]="bookFields.Canto" name="Canto" class="form-control input-lg"
                                    id="bookFields.Canto" placeholder="Canto" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f20.errors?.required && f20.touched">
                                <input type="text" #f20="ngModel" [(ngModel)]="bookFields.Part" name="bookFields.Part"
                                    class="form-control input-lg" id="bookFields.Part" placeholder="Part" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="f21.errors?.required && f21.touched">
                                <input type="text" #f21="ngModel" [(ngModel)]="bookFields.Chapters" name="bookFields.Chapters"
                                    class="form-control input-lg" id="bookFields.Chapters" placeholder="Chapters"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-3">
                            <div class="form-group">
                                <div class="image-upload">
                                    <label style="cursor:pointer" for="file-input">
                                        <img width="100px" height="100px" class="img-responsive" id="frontImagePath"
                                            [src]="frontImagePath" alt="" style="pointer-events: none" />
                                    </label><span>{{frontImageFormat}}</span>
                                    <input id="file-input" (change)=fileChange($event) type="file" accept=".jpeg,.jpg,.png,.pdf" />
                                    <button (click)="Upload()">Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <button [disabled]="!fo.form.valid" type="button" (click)="SaveBookFields()" class="btn btn-default btn-block btn-xm">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>